
*{word-wrap: break-word;}

#topper {
 display:grid;
 grid-template-columns:36px auto max-content ;
 align-items:center;padding: 5px;
  text-align: center
}
#bottoms {
 display:grid;
 grid-template-columns:120px 1% min-content;
 align-items:center;padding: 5px;
  text-align: center;
  width:100%
}
#topper_logo{font-weight: bold}
html{
  font-family:  Arial, Helvetica Neue, Helvetica, sans-serif;
  background:
  linear-gradient(27deg, rgba(255,0,0,.5) 20%,blueviolet) 100%;
  background-attachment: fixed;
height:100%}
*{color: white;
//  text-shadow: rgba(0,0,0,0.1) 2px 2px 20px;
  text-decoration: none;padding: 5px}
#stats{display:grid;grid-template-columns: 50% 50%;text-align: center}
#recents{display:grid;grid-template-columns: auto;}
button{background:
  linear-gradient(-153deg, rgba(255,0,0,.7) 20%,rgba(138,43,226,0.7)) 100%;}
.statbox{margin: 8px;border-radius:15px;background:
  linear-gradient(-153deg, rgba(255,0,0,.1) 20%,rgba(138,43,226,0.1)) 100%;}
.recentbox{margin: 8px;border-radius:15px;background:
  linear-gradient(-127deg, rgba(255,0,0,.1) 20%,rgba(138,43,226,0.3)) 100%;
  font-size:0.75em}
.statnumb{font-size: 1.25em}
.statname{font-size: 0.75em}

.statbox div:last-child{border-radius:15px;background:
  linear-gradient(120deg, rgba(255,90,0,.4) 20%,rgba(138,143,246,0.5)) 100%;}
.recentbox div:last-child{border-radius:15px;background:
  linear-gradient(120deg, rgba(255,90,0,.4) 20%,rgba(138,143,246,0.5)) 100%;
  font-size:0.75em}
div#intro{display: grid;grid-template-columns: auto;font-size: 0.7em}
#joinus{font-size: 0.7em}

div#intro_pro,div#intro_sol{
  background:linear-gradient(-153deg, rgba(255,0,0,.4) 20%,rgba(138,43,226,0.5)) 100%;
  padding:2px;
  border-radius:15px
}
div#intro_sol_dis{background:
  linear-gradient(120deg, rgba(255,90,0,.4) 20%,rgba(138,143,246,0.5)) 100%;
  border-radius:15px;
  width:60%
}
#exploreus{display: grid;grid-template-columns: auto auto auto;font-size:1em;text-align: center}

#TCP{display:grid;grid-template-columns: auto;border-radius:15px;}

pre{overflow-x:auto}

li{margin-left:10%;}

@media(min-width:641px){
	#stats{
		border-radius:15px;
		display:grid;
		grid-template-columns:33% 33% 33%;}
	#recents{
		border-radius:15px;
		display:grid;
		grid-template-columns:50% 50%;}
	div#intro{
		grid-template-columns: auto 30% 30% auto; grid-gap:20px}
	#exploreus{
		display: grid;grid-template-columns: auto auto auto auto auto;font-size:1em;text-align: center}
	#TCP{
		display:grid;grid-template-columns: auto auto auto;border-radius:15px;}
}
